.main-content {
	height: 100%;
}

#welcome {
	margin: 1px;
	font-size: 40px;
	color: white;
	/* text-shadow: 0 1px 4px black; */
	position: absolute;
	left: 220px;
	top: 100px;
}

.banner-image {
	padding-bottom: 80px;
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('./kitchen-banner.jpg');
	height: 150px;
	background-size: 1920px 700px;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1;
}
