.login-wrapper {
	/* display: flex;
	justify-content: center;
	margin: 10px auto;
	width: 300px;
	background-color: aqua;
	/* border-radius: 10px; */
	/* padding: 25px; */
}

.login-form-container {
	/* style later */
}

.form-field {
	display: flex;
	flex-direction: column;
}

form input {
	outline: 0;
	border-width: 0 0 1px;
	border-radius: 4px;
	border-color: white;
	background-color: #427c4f;
	color: white;
}
