nav {
	position: fixed;
	top: 0;
	padding: 0;
	height: 60px;
	width: 100%;
	background-color: #427c4f;
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 2;
}

.home-eats-logo {
	width: 40px;
	margin-bottom: -2px;
}
.nav-item {
	width: 340px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-logo {
	font-size: 35px;
	margin: 10px 30px;
	font-family: 'Signika';
	font-weight: 400;
	color: white;
}

nav a {
	text-decoration: none;
}

.hamburger-container {
	font-family: 'Sen';
	font-size: 15px;
	color: black;
	width: 300px;
	height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.hamburger-container button {
	font-family: 'Sen';
	font-size: 15px;
	color: black;
}

.hamburger-container a {
	font-family: 'Sen';
	font-size: 15px;
	color: black;
}

.dropdown-item {
	height: 40px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* align-content: flex-end; */
}

.dropdown-item a:hover {
	color: white;
}

.hamburger-container .dropdown-item:hover {
	color: white;
	background-color: #427c4f;
}

.dropdown-item:hover a {
	color: white;
	background-color: #427c4f;
}

.hamburger-dropdown {
	position: absolute;
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
	right: 0px;
	top: 60px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.bar {
	width: 35px;
	height: 4px;
	background-color: white;
	margin: 7px 0;
}

nav .hamburger-button {
	outline: 0;
	margin: 15px 0px;
	border: none;
	width: 50px;
	height: 40px;
	background-color: transparent;
	color: white;
	font-size: 30px;
}

.hamburger-dropdown button {
	background-color: transparent;
	font-size: 15px;
	outline: none;
	border: none;
}

nav button:hover {
	cursor: pointer;
	color: white;
}

nav li {
	list-style-type: none;
}

/* .profile-dropdown {
	position: absolute;
	top: 43px;
	left: 14px;
	display: flex;
	flex-direction: column;
	color: white;
	font-weight: 500;
	background-color: turquoise;
	max-width: 100px;
	box-shadow: 0 4px 2px -2px teal;
}

.profile-dropdown li:hover {
	background-color: white;
	color: teal;
}

.profile-button-container {
	position: relative;
	width: 100px;
	display: flex;
	justify-content: space-around;
	flex-direction: row-reverse;
} */
