nav {
	position: fixed;
	top: 0;
	padding: 0;
	height: 60px;
	width: 100%;
	background-color: #427c4f;
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 2;
}
.nav-item {
	width: 300px;
	display: flex;
	justify-content: center;
}

.nav-logo {
	font-size: 35px;
	margin: 10px 30px;
	font-family: 'Signika';
	font-weight: 400;
	color: white;
}

nav a {
	text-decoration: none;
}

.hamburger-container {
	width: 300px;
	display: flex;
	justify-content: flex-end;
}

nav button {
	margin: 15px 15px;
	border: none;
	width: 70px;
	height: 30px;
	background-color: transparent;
	color: white;
	font-size: 30px;
}

nav button:hover {
	cursor: pointer;
}

nav button:active {
	outline: 0;
}

nav li {
	list-style-type: none;
}

/* .profile-dropdown {
	position: absolute;
	top: 43px;
	left: 14px;
	display: flex;
	flex-direction: column;
	color: white;
	font-weight: 500;
	background-color: turquoise;
	max-width: 100px;
	box-shadow: 0 4px 2px -2px teal;
}

.profile-dropdown li:hover {
	background-color: white;
	color: teal;
}

.profile-button-container {
	position: relative;
	width: 100px;
	display: flex;
	justify-content: space-around;
	flex-direction: row-reverse;
} */
